SyntroZigbeeGateway/Makefile*
SyntroZigbeeDemo/Makefile*
ZigbeeTestNode/Makefile*
ZigbeeEndpoint/virt-regs/virt-regs
ZigbeeEndpoint/MotionSensorViewer/Makefile*
ZigbeeEndpoint/EnvSensorView/Makefile*
Debug/
Release/
Output/
DebugStatic/
ReleaseStatic/
StaticRelease/
StaticDebug/
Deploy/
ARMDebug/
ARMRelease/
GeneratedFiles/
object_script.*
*.log.*
*.exe
*.lib
*.ilk
*.pdb
*.x470MV
*.o470MV
*.log
*.ncb
*.user
*.suo
*.aps
*.obj
*.msi
*.pch
*.ini
*.srf
*.srx
openexr-mac/
openexr-1.4.0-vsnet2003/
*~
*.a
*.o
*.axf
*.bin
*.map
!.gitignore
.metadata/
*.sdf
*.opensdf
ipch/
*.dat
